<a href="https://front.codes/" class="logo" target="_blank"></a>
@{
    Layout = "_LoginLayout";
}

@model WebApplication7.ViewModels.LoginViewModel



<link href="/css/LoginPage.css" rel="stylesheet" />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger small-error">

        @TempData["ErrorMessage"]
    </div>
}
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <!-- Log In Form -->
                            <div class="card-front" style="background-image: url('\Image\egypt.jpeg')">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">
                                            <img src="/Images/magic_08a1.png" alt="Log In Icon" style="width: 40px; height: 40px;"> Log In
                                        </h4>

                                
                                        <form asp-action="Login" asp-controller="Account" method="post">
                                            <div class="form-group">
                                                <input asp-for="Email" class="form-style" placeholder="Your Email" autocomplete="off" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Password" type="password" class="form-style" placeholder="Your Password" autocomplete="off" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>

                                            <!-- Remember Me Checkbox -->
                                            <div class="form-group">
                                                <input asp-for="RememberMe" type="checkbox" id="rememberMe" />
                                                <label for="rememberMe" class="ml-2">Remember Me</label>
                                            </div>

                                            <button type="submit" class="btn mt-4">Submit</button>
                                        </form>
 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
