<!DOCTYPE html>

<html lang="en">
<head>
    <link href="/css/AboutUs.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharaoGo</title>
   
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div style="justify-content:center" class="aboutheader">
                <img src="/assets/img/LOGO.png" alt="Alternate Text" class="aboutimg"/>
                <h1>PharaoGo</h1>
            </div>
            <div class="about">
            <p>
                <strong>About Us</strong><br>
                At PharaoGo, we’re passionate about helping people discover the beauty and history of Egypt. Whether you’re a curious traveler or someone who calls Egypt home, we want to make it easier for you to explore this amazing country—its stunning hotels, fascinating museums, and hidden gems that are often off the beaten path.
            </p>

            <p>
                <strong>The Story Behind the Goose</strong><br>
                You might wonder why there’s a goose in our logo. In ancient Egypt, the goose symbolized travel and exploration, which is exactly what PharaoGo is all about. Just like the goose embarks on journeys across vast landscapes, we want to guide you on your own adventure through Egypt’s treasures, whether you’re uncovering the ancient wonders or discovering something new and exciting.
            </p>
            <p>
                <strong>Looking Ahead</strong><br>
                But we’re just getting started. In the future, we’ll be adding much more—restaurants, cafes, working spaces, and even rental services. We want PharaoGo to be your go-to guide for everything Egypt has to offer, no matter where your interests lie.
                <br><br>
                So, whether you’re booking your first hotel or searching for hidden gems, we’re here to help you every step of the way.
            </p>
            </div>
        </div>
    </div>
</body>
</html>