.ad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

.text-container {
    max-width: 60%;
}

    .text-container h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    .text-container p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #d5c188;
    border-color: #d5c188;
    color: white;
}

    .cta-button:hover {
        background-color: #a59056;
        border-color: #a59056;
        color: white;
    }

.image-container img {
    max-width: 350px;
    border-radius: 10px;
}
