<link href="/css/NotFound.css" rel="stylesheet" />
<div class="not-found-container">
    <img src="Images/No-Result.png" style="width:100px;">
    <p>Oops! The Place you're looking for doesn't exist.</p>
    <a href="/Home/Index" class="btn-primary">Go Back Home</a>
</div>
