<div class="not-found-container">
    <img src="Images/No-Result.png" style="width:100px;">
    <p>Oops! The Place you're looking for doesn't exist.</p>
    <a href="/Home/Index" class="home-button">Go Back Home</a>
</div>
<style>
 

    .not-found-container {
        text-align: center;
        background-color: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .not-found-container h1 {
            font-size: 100px;
            margin: 0;
            color: #333;
        }

        .not-found-container p {
            font-size: 20px;
            color: #555;
            margin: 10px 0;
        }

    .home-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #0073e6;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
    }

        .home-button:hover {
            background-color: #005bb5;
        }
</style>